<header class="navbar navbar-fixed-top">
	<div class="navbar-inner"> 
		<div class="container">
			<%= link_to "sample app", '#', id: "logo" %>
			<nav>
				<ul class="nav pull-right">
					<li><%= link_to "Home", root_path %></li>
					<li><%= link_to "Help", help_path %></li>
<<<<<<< HEAD
					<li><%= link_to "Sign in", signup_path %></li>
=======
					<li><%= link_to "Sign in", '#' %></li>
>>>>>>> 5d2c3d130842619022d61f4914f84cbc1e803bcc
				</ul>
			</nav>
		</div>
	</div>
</header>